.header__appbar {
    background-color: transparent !important;
    min-width: 1000px;
}

.header__header{
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-family: Nunito;
    color: #F8F8FF
}

.header__headerNav {
    display: flex;
}

.header__logo {
    color: #03DAC6
}

.header__projectBox {
    color: #F8F8FF;
    text-decoration: none;
    margin-left: 25px;
}