// Establishing global elements
$ff--primary: 'League Spartan';
$ff-accent: 'Libre Baskerville', serif; 


*, 
* ::before,
* ::after {
    box-sizing: border-box;
}

Header {
    position: absolute;
}


body {
    height: 100%;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

.wrapper {
    border: blue dotted 2px;
    background-color: #0A0A0A;
    min-height: calc(100vh - .3em);
    min-width: 100%;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.container {
    position: relative;
    min-height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

Header {
    position: fixed;
}

// common break points 
.introduction {
    border: purple solid 2px;
    position: relative;
    h1 {
        color: white;
        font-family: $ff--primary;
        font-size: 5em;
        font-weight: 100;

    }

    h6 {
        font-family: $ff-accent;
        color: snow;
        font-size: 1.5em;
        font-style: oblique;
    }
}

