
body {
    background-color: black;
    height: 100%;
}

.container {
    border: blue dotted 2px;
    min-height: calc(100vh - .3em);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
// common break points 
.introduction {
    border: purple solid 2px;
    position: relative;
    h1 {
        color: white;
        font-family: 'League Spartan';
        font-size: 4em;
    }

    h4 {
        color: white;
    }
}
